<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>quobit</title>
		<!-- Bootstrap -->
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/site_media/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/site_media/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		<!-- Custom CSS files -->
    	<link type="text/css" rel="stylesheet" href="/site_media/static/stylesheets/main.css" />
    	<link type="text/css" rel="stylesheet" href="/site_media/static/css/quobit.css" />
    	<!-- Typekit  -->
    	<script type="text/javascript" src="//use.typekit.net/eba8mbj.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->
		<!-- Javascript -->
		<script src="/site_media/static/js/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/site_media/static/js/quobit_index.js" type="text/javascript" charset="utf-8"></script>
		<script src="/site_media/static/js/qpost.js" type="text/javascript" charset="utf-8"></script>
		<!-- Google Analytics -->
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-35201804-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
		-->
	</head>
	<body>
		<div class="quobit_container">

			<!-- Login -->
			<div id="login_area">
				<div id="login_overlay"></div>
				<div id="login">
					<div class="row">
						<div id="signin_form" class="span5">
							<legend>Sign in</legend>
							<div id="signin_error" class="error_msg"></div>
							<label>Email</label>
							<input id="signin_email" type="text" name="name_signin_email" placeholder="Email">
							<label>Password</label>
							<input id="signin_password" type="text" name="name_signin_password" placeholder="Password">
							<button id="signin_btn" type="submit" class="btn">Sign in</button>
						</div>
						<div id="login_separator" class="span2"></div>
						<div id="register_form" class="span5">
							<legend>Register</legend>
							<div id="register_error" class="error_msg"></div>
							<label>Email</label>
							<input id="register_email" type="text" name="name_register_email" placeholder="Email">
							<label>Password</label>
							<input id="register_password" type="text" name="name_register_password" placeholder="Password">
							<label>Full Name</label>
							<input id="register_username" type="text" name="name_register_username" placeholder="Full name">
							<div><button id="register_btn" type="submit" class="btn">Register</button></div>
						</div>
					</div>
				</div>
			</div>

			<!-- Navbar -->
			<div class="navbar navbar-inverse quobit_navbar">
				<div class="navbar-inner">
					<a class="brand" href="#">quobit</a>
					<ul class="nav pull-right">
						<li><a id="signout_link" href="#">sign out</a></li>
					</ul>
				</div>
			</div>

	  		<!-- Body -->
		  	<div id="quobit_body">
		  		
		  		<!-- Posts -->
				<div id="qposts_area">
					<textarea id="qposts_posttext" name="new_qpost_text" rows="3"></textarea>
					<button id="qposts_postbtn" type="submit" class="btn">Post</button>
					<div id="qposts"></div>
				</div>

			  	<!-- Replies -->
			  	<div id="qreplies_area">
			  		<div id="qreplies_content">
						<div id="qreplies_spacer">
							<div id="qreplies_scroller">
								<div id="qreplies"></div>
							</div>
						</div>
						<div id="qreplies_replytextboxarea">
							<textarea id="qreplies_replytext" name="new_qreply_text" rows="3"></textarea>
							<button id="qreplies_replybtn" type="submit" class="btn">Reply</button>
						</div>
					</div>
				</div>

				<div class="clear"></div>

			</div>
		</div>
	</body>
</html>











